<p id="notice"><%= notice %></p>

<h4 class="ui center aligned medium icon header">
  <i class="circular apple icon orange inverted"></i>
  Chatroom
</h4>
<div><br/></div>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="ui grey inverted top attached segment">
        <i class="chat icon white large"></i>
        ChatBox
      </div>
      <div class="content">
        <div class="ui large feed">
            <div class="container">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <i class="user icon orange inverted"></i>&nbsp;&nbsp;&nbsp;
                    <em>Elliot Fu</em>: &nbsp;&nbsp;Test Message
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <i class="users icon black inverted"></i>&nbsp;&nbsp;&nbsp;
                    <em>Elliot Fu</em>: &nbsp;&nbsp;Test Message
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <i class="user icon orange inverted"></i>&nbsp;&nbsp;&nbsp;
                    <em>Elliot Fu</em>: &nbsp;&nbsp;Test Message
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <i class="users icon black inverted"></i>&nbsp;&nbsp;&nbsp;
                    <em>Elliot Fu</em>: &nbsp;&nbsp;Test Message
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input grey">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted grey edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
